# Entorno virtual
.venv/
venv/
env/

# Caché Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Archivos de distribución
build/
dist/
*.spec

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de VS Code
.vscode/

# Coverage (si algún día lo usas)
.coverage
htmlcov/

# Archivos temporales
*.log